.*{
	margin: 0;
	padding: 0;
}
.body{
	background: url("img/bg-masthead.jpg");
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-control{
	width: 600px;
	height: 40px;
}
.build{
	width: 800px;
}
.icon-bot{
		font-size: 500%;
	color: blue;
}
.bot{
	padding-top: 100px;
	padding-bottom: 100px;
}
.row{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pic1{
	background: url("img/bg-showcase-1.jpg");
	height: 600px;
}
.pic2{
	background: url("img/bg-showcase-2.jpg");
	height: 600px;
}
.ok{
	padding-left: 60px;
}
.pic3{
	background: url("img/bg-showcase-3.jpg");
	height: 600px;
}
.imgg img{
	width: 200px;
	clip-path: circle(50% at 50% 50%);
}
.body-2{
	background: url("img/bg-masthead.jpg");
	background-repeat: no-repeat;
	background-position: center 50%;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.B{
	height:40px;
}
.icon-bot-2{
	font-size: 300%;
	color: blue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 40px;
}
.footerr{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 150px;	
}

#myBtn {
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: blue; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555; 
}